.container {
    text-align: center;
    margin: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    .content {
        margin-bottom: 1rem;
    }

    .opr {
        .decrement {
            margin-right: 1rem;
        }
    }
}
